<ion-thumbnail>
  <img src="assets/image/12.jpg">
</ion-thumbnail>
<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="assets/image/9.png" alt="user-image">
      <ion-card-subtitle>My name is Jude and welcome you to my little corner.</ion-card-subtitle>
      <ion-card-title>Hello!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      You can buy anything in this lovely page with good prices and safe our planet at the same time!
    </ion-card-content>
  </ion-card>



</ion-content>