<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-button color ="success" style="width: 15vw; height: 10vw; font-size: 2.5em;" color="warning" (click)="moveback()"> Back </ion-button>
  </ion-fab>
  <div class="center-1">
    <ion-img src="assets/icon/AddClothes.png" class="ion-align-self-end" (click)="moveonadd()" ></ion-img>
  </div> 
  <div class="center-2">
    <ion-img src="assets/icon/MixandMatch.png" class="ion-align-self-end" (click)="moveonMix()"></ion-img>
  </div> 
  <div class="center-3">
    <ion-img src="assets/icon/SellClothesIcon.png" class="ion-align-self-end" (click)="moveon()"></ion-img>
  </div> 
  
</ion-content>
