
ion-content {
    --background: url(/assets/image/backgroundSC.png) no-repeat center/cover fixed;
  }

.center-1 {
    margin-top: 30%;
    display: block;
    width: 100%;
    height: auto;
   }

.center-2 {
    display: block;
    width: 100%;
    height: auto;
   }

.center-3 {
    display: block;
    width: 100%;
    height: auto;
   }