
  ion-content {
    --background: url(/assets/image/ChangeOutfit.png) no-repeat center/cover fixed;
  }
  
  ion-slides{
      top: 3%;
   margin-left: 27%;
   margin-right: 27%;
    background: #e6e6e6;
  
  }
  
  